# bidnamics challenge

In [58]:
# Author Ian Walker : iwalker147@gmail.com, GitHub : RGGH

In [18]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/rag/.local/lib/python3.8/site-packages (2.9.3)

In [23]:
# start docker container:
'''sudo docker run --name postgres-1 -e POSTGRES_PASSWORD=password \
-d -p 5432:5432 -v /home/rag/bidnam/pg:/var/lib/postgres/data postgres:alpine'''

'sudo docker run --name postgres-1 -e POSTGRES_PASSWORD=password -d -p 5432:5432 -v /home/rag/bidnam/pg:/var/lib/postgres/data postgres:alpine'

In [ ]:
# ini file contents (reference only - would not show it here for production!!)
'''[postgresql]
host=localhost
database=postgres
user=postgres
password=password'''

## Connect to DB

In [24]:
import psycopg2

In [25]:
from configparser import ConfigParser


def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)

        # create a cursor
        cur = conn.cursor()
        
    # execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')

        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
        
    # 
        cur.execute("""SELECT table_name FROM information_schema.tables
               WHERE table_schema = 'public'""")
        for table in cur.fetchall():
            print(table)
       
    # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')


if __name__ == '__main__':
    connect()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 14.2 on x86_64-pc-linux-musl, compiled by gcc (Alpine 10.3.1_git20211027) 10.3.1 20211027, 64-bit',)
('adgroups',)
('campaigns',)
('searchterms',)
Database connection closed.

In [ ]:
# Now we have connection - query the data

In [32]:

def query_1():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)

        # create a cursor
        cur = conn.cursor()    
    # 
        cur.execute("""SELECT * FROM searchterms
               WHERE searchterms.search_term = 'waterslide'""")
        for table in cur.fetchall():
            print(table)
            
        cur.execute("""SELECT * FROM searchterms
                LIMIT 5""")
        for table in cur.fetchall():
            print(table)
       
    # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')


if __name__ == '__main__':
    query_1()

Connecting to the PostgreSQL database...
(datetime.date(2020, 5, 27), 102171970298, 9872103720, 1, Decimal('0.11'), Decimal('0.00'), 0, 'waterslide')
(datetime.date(2019, 5, 22), 66372665454, 1578451881, 2, Decimal('0.28'), Decimal('0.00'), 0, 'venum spats')
(datetime.date(2020, 4, 16), 84481260174, 1578451584, 1, Decimal('0.05'), Decimal('0.00'), 0, 'camillaw')
(datetime.date(2020, 1, 14), 59624654596, 1578451386, 1, Decimal('0.09'), Decimal('0.00'), 0, 'dc comic converse')
(datetime.date(2020, 4, 26), 59977520149, 1578412457, 1, Decimal('0.05'), Decimal('0.00'), 0, 'a1030')
(datetime.date(2020, 5, 30), 102171970298, 9872103720, 1, Decimal('0.17'), Decimal('0.00'), 0, 'h20 go')
Database connection closed.

## Exploratory Data Analysis

In [30]:
# ROAS = conversion value / cost

In [65]:
#!pip  install pandas
#!pip install sqlalchemy
import pandas as pd
pd.set_option('display.expand_frame_repr', False);

from sqlalchemy import create_engine

# engine = create_engine('postgresql://user:password@host/database')
alchemyEngine = create_engine('postgresql://postgres:password@127.0.0.1/postgres', pool_recycle=3600);
# Read data from PostgreSQL database table and load into a DataFrame instance

dbConnection = alchemyEngine.connect();

In [66]:
dataFrame_search_terms  = pd.read_sql("select * from \"searchterms\"", dbConnection);

In [67]:
dataFrame_campaigns  = pd.read_sql("select * from \"campaigns\"", dbConnection);

In [68]:
dataFrame_adgroups  = pd.read_sql("select * from \"adgroups\"", dbConnection);

In [69]:
dataFrame_search_terms

              date   ad_group_id  campaign_id  clicks  cost  conversion_value  conversions                 search_term
0       2019-05-22   66372665454   1578451881       2  0.28               0.0            0                 venum spats
1       2020-04-16   84481260174   1578451584       1  0.05               0.0            0                    camillaw
2       2020-01-14   59624654596   1578451386       1  0.09               0.0            0           dc comic converse
3       2020-04-26   59977520149   1578412457       1  0.05               0.0            0                       a1030
4       2020-05-30  102171970298   9872103720       1  0.17               0.0            0                      h20 go
...            ...           ...          ...     ...   ...               ...          ...                         ...
221850  2021-08-26  120402204229   1578412283       0  0.00               0.0            0         swim wetsuit womens
221851  2020-09-14  103673320462   1578411797       0  0.00               0.0            0  barcelona away kit 2020 21
221852  2020-04-16  101743736842   1578451617       0  0.00               0.0            0        10ft basketball hoop
221853  2021-08-26  120402204229   1578412283       0  0.00               0.0            0           triathlon wetsuit
221854  2021-08-26  120402204229   1578412283       0  0.00               0.0            0   womens sleeveless wetsuit

[221855 rows x 8 columns]

In [70]:
dataFrame_campaigns

                id campaign_id   status
0       1578451881       venum  ENABLED
1       1578451584     ellesse  ENABLED
2       1578451386    converse  ENABLED
3       1578412457      wilson  ENABLED
4       9872103720      wham-o  ENABLED
...            ...         ...      ...
221850  1578412283      speedo  ENABLED
221851  1578411797        nike  ENABLED
221852  1578451617    spalding  ENABLED
221853  1578412283      speedo  ENABLED
221854  1578412283      speedo  ENABLED

[221855 rows x 3 columns]

In [71]:
dataFrame_adgroups

                  id  ad_group_id                                        campaign_id    alias
0        66372665454   1578451881  Shift - Shopping - GB - venum - LOW - monkey-a...  REMOVED
1        84481260174   1578451584  Shift - Shopping - GB - ellesse - HIGH - oscar...  ENABLED
2        59624654596   1578451386  Shift - Shopping - GB - Converse - HIGH - fail...  REMOVED
3        59977520149   1578412457  Shift - Shopping - GB - Wilson - HIGH - vermon...  REMOVED
4       102171970298   9872103720  Shift - Shopping - GB - wham-o - HIGH - hawaii...  REMOVED
...              ...          ...                                                ...      ...
221850  120402204229   1578412283  Shift - Shopping - GB - speedo - LOW - bulldog...  ENABLED
221851  103673320462   1578411797  Shift - Shopping - GB - nike - MEDIUM - black-...  ENABLED
221852  101743736842   1578451617  Shift - Shopping - GB - spalding - LOW - victo...  ENABLED
221853  120402204229   1578412283  Shift - Shopping - GB - speedo - LOW - bulldog...  ENABLED
221854  120402204229   1578412283  Shift - Shopping - GB - speedo - LOW - bulldog...  ENABLED

[221855 rows x 4 columns]

In [55]:
# Close the database connection
dbConnection.close();